.coin-containers {
	display: flex;
	justify-content: center;
	position: relative;
	bottom: 30px;
}

.coin-rows {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	height: 89px;
	border-bottom: 1px solid #d7d7d7;
	width: 900px;
}

.coin {
	display: flex;
	align-items: center;
	padding-right: 27px;
	min-width: 301px;
}

::placeholder {
	color: white;
	opacity: 1; 
  }

.coin h1 {
	font-size: 16px;
	width: 152px;
}

.coin img {
	height: 33px;
	width: 32px;
	margin-right: 11px;
}

.coin-symbols {
	text-transform: uppercase;
}

.coin-datas {
	display: flex;
	text-align: center;
	justify-content: space-between;
	width: 100%;
	font-size:14px;
}
.coin-prices {
	width: 110px;
}
.coin-volume {
	width: 230px;
}
.coin-marketcap {
	width: 155px;
}
.coin-percents-red {
	color: #f00606;
}

.coin-percents-green {
	color: #11d811;
}

.Api {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.Api input {
	margin-top: 20px;
	width: 300px;
	height: 40px;
	font-size: 20px;
	padding-left: 10px;
}

.individual-coin{
	color: inherit;
    text-decoration: none;
}

.coin-text{
	margin-top:20px;
}

@media only screen and (max-width: 768px) {
	.coin-rows {
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: center;
		height: 60px;
		border-bottom: 1px solid #d7d7d7;
		width: 760px;
	}

	.coin {
		display:flex;
		
	}

	.coin-datas {
		justify-content: space-evenly;
		width: 100%;
	}
	
}

@media only screen and (max-width: 360px) {
    
    .coin-app{
        width:100%;
    }
    .coin-containers {
    display: flex;
    width:100%
}
    .coin-rows{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        border-bottom: 1px solid #d7d7d7;
        width: 100%;
        }
       .coin{
        display:flex;
		padding-right:400px;
      }

      .coin-datas {
        justify-content: space-evenly;
		padding-left:300px;
		position: relative;
		top: -20px;
    }
     
    .wrapper table { white-space: nowrap }

    
}